*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;	
}
@font-face{
	font-family:"OpenSans-Semibold";
	src:url(fonts/OpenSans-Semibold.ttf);
}
@font-face{
	font-family:"OpenSans";
	src:url(../fonts/OpenSans-Regular.ttf);
}
@font-face{
	font-family:"QuattrocentoSans-Bold";
	src:url(fonts/QuattrocentoSans-Bold.otf);
	font-weight: bold;
}

@font-face{
	font-family:"Myriad Pro";
	src:url(fonts/myriadpro-light.otf);
}
.h2::before{
	content: ' ';
	border-left: 10px solid #e1e6ea;
	padding-left: 15px;
}
.h2{
	font-family:"QuattrocentoSans-Bold", sans-serif;
	font-size: 36px;
	font-weight: normal;
	text-transform: uppercase;
	color: #292f36;
	line-height: 35px;
	padding-left: 15px;
	padding-top: 80px;
	padding-bottom: 61px;
}
.container{
	max-width:1170px;
	margin: 0px auto;
	border-left: 1px solid red;
	border-right: 1px solid red;
	padding: 0px 15px;
}
header .container{
	display: flex;
	justify-content: space-between;

}
header{
	background-color: #1d2126;
	height: 81px;
}
header .container h1{
	padding-left: 15px;
	line-height: 81px;
}
header .container ul{
	height: 81px;
	line-height: 81px;
}
header .container ul li{
	display: inline-block;
	margin: 0px 7px;
	height: 81px;
	line-height: 81px;
}
header .container ul li a{
	color: #a4aead;
	font-size: 14px;
	font-family: "OpenSans-Semibold", sans-serif;
	text-transform: uppercase;
	border: 2px solid transparent;
	border-radius: 3px;
	padding:10px 13px;
}
header .container ul li a:hover{
	border: 2px solid #5b6168;
}
header .container ul li a:active{
	border-color: #23b7a4;
	color: #23b7a4;
}
#hero{
	background: #3a454d url(../images/bg.png)
	center bottom no-repeat;
	background-size: cover;
}
#hero .container h2{
	font-family: "QuattrocentoSans-Bold", sans-serif;
	font-weight: bold;
	font-size: 36px;
	padding-top: 226px;
	text-transform: uppercase;
	color: #ffffff;
	padding-bottom:26px;
}
#hero .container >p{
	max-width: 585px;
	font-family: "Myriad Pro";
	font-size: 16px;
	color: #ccd0d7;
	padding-bottom: 44px;
} 
#hero .container div a{
	font-family: "QuattrocentoSans-Bold" , sans-serif;
	font-size: 14px;
	border: 2px solid #ffffff;
	border-radius: 3px;
	height: 44px;
	line-height: 44px;
	display: inline-block;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	padding:0px 30px 0px 22px; 
	font-weight: normal;
	margin-bottom: 206px;
}
#hero .container div a:hover{
	background-color: #23b7a4;
	border: 2px solid #23b7a4;

}
#hero .container div a:first-child{
	margin-right:11px;
}
#hero .container ul li{
	display: inline-block; 
	float: right;
}
#hero .container ul li a{
	border: 2px solid white;
	display: inline-block;
	border-radius: 50%;
	width: 14px;
	height: 14px;
	margin: 0px 0px 30px 9px; 
}
#hero .container ul li a.current{
	background-color: white;
}
#about .container #wrapper {
	display: flex;
	justify-content: space-between;
}
#about{
	border-bottom: 2px solid #dde1e4;
}

#about div p{
	font-family: "OpenSans-Semibold", sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #8d8f92;
	max-width: 654px;
	margin-bottom: 26px;
}
#about div ul li a{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: #c8cdd0;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 100px;
}
#about div ul li{
	display: inline-block	
}
#about div ul li a:hover {
	cursor: pointer;
	background-color: #d0d5d9;
}
#about div ul li:nth-child(1) a{
background-image:url(../images/face.png);
}
#about div ul li:nth-child(2) a{
background-image:url(../images/tt.png);
}
#about div ul li:nth-child(3) a{
background-image:url(../images/google.png);
}
#about div ul li:nth-child(4) a{
background-image:url(../images/D1.png);
}
#about div ul li:nth-child(5) a{
background-image:url(../images/be.png);
}
#about .container #wrapper div:last-child{
	max-width:457px 
}
#about ol{
	counter-reset: about;
}
#about ol li{
	list-style:none;
	position: relative;
	padding-left: 67px;
}
#about ol li::before{
 counter-increment: about;
 content: counters(about,'.', decimal-leading-zero);
 display: inline-block;
 width: 50px;
 height: 50px;
 line-height: 50px;
 background-color: #23b7a4;
 text-align: center;
 position: absolute;
 top: 0px;
 left: 0px;
}
#about .container #wrapper div ol li h3{ 
	font-family: "QuattrocentoSans-Bold";
	font-weight: normal;
	font-size: 18px;
	text-transform: uppercase;
	color: #292f36;
}
#about .container #wrapper div ol li p{
	font-family: "OpenSans-Semibold", sans-serif;
	font-size:16px;
	line-height: 26px;
	margin-top: 3px;
	margin-bottom: 18px;
}
/* ------------------team------------------------------- */
#team{
	margin-bottom: 100px;
}
#team #team-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#team #team-wrapper div{
	background-color: #e1e6ea;
	position: relative;
}
#team #team-wrapper >div:hover div{
	background-color: #3a454d;
}
#team #team-wrapper >div:hover img{
	opacity: 0.7;
}
#team #team-wrapper >div:hover .mask{
	display: block;
}

#team #team-wrapper div div h4{
	font-family:"QuattrocentoSans-Bold", sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
	color: #292f36;
	padding-top: 11px;
	padding-left: 20px;
	margin-top: -5px;

}
#team #team-wrapper div div p{
	font-family: "OpenSans-Semibold", sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: capitalize;
	text-align: left;
	color: #8d8f92;
	padding-left: 20px;
	padding-bottom: 14px
}
#team #team-wrapper div .mask{
	display: none;
}
#team #team-wrapper div .mask ul{
	position: absolute;
	top: -250px;
	left: 50px;
	word-spacing: -3px;
}
#team #team-wrapper div:hover div h4{
	color: white;
}
#team #team-wrapper div:hover div p{
	color: white;
}
#team #team-wrapper div .mask ul li{
	display: inline-block;
}
#team #team-wrapper div .mask ul li a{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #3a454d;
	background-position: center center;
	background-repeat: no-repeat;
	
}
#team #team-wrapper div .mask ul li a:hover{
	background-color: #4e5a62;
}
#team #team-wrapper div .mask ul li:nth-child(1) a{
	background-image:url(../images/tt.png);
}
#team #team-wrapper div .mask ul li:nth-child(2) a{
	background-image:url(../images/face.png);
}
#team #team-wrapper div .mask ul li:nth-child(3) a{
	background-image:url(../images/in.png);
}
/* ------------------work------------------------------- */
#work{
	background-color: #3a454d;
}
#work .container h2{
	color: white;
}
#work .container div{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#work .container div div{
	position: relative;
	background: transparent url(../images/plus.png) 
	center 80px no-repeat;
	margin-bottom: 30px;
}
#work .container div div img{
	max-width: 360px;
	height: 265px;
}
#work .container div div:hover .mask h4{
	display: block;
}
#work .container div div:hover img{
	opacity: 0.5;
	cursor: pointer;
}
#work .container div div div h4{
	position: absolute;
	bottom: -30px;
    left: -360px;
	font-family: "QuattrocentoSans-Bold", sans-serif;
	font-size: 18px;
	color: #ffffff;
	font-weight: normal;
	text-transform: uppercase;
	height: 60px;
	line-height: 60px;
	background-color: #292f36;
	width: 360px;
	padding-left: 20px;
	display: none;
}
#work .container div button{
	text-transform: uppercase;
	font-size: 14px;
	font-family: "Myriad Pro", sans-serif;
	font-weight: normal;
	color: #ffffff;
	border: 2px solid #ffffff;
	margin-top: 30px; 
	padding-left: 22px;
	padding-right: 33px;
	height: 44px;
	line-height: 44px;
	border-radius: 3px;
	background-color: #3a454d;
	margin: 0px auto 60px auto;

}
/* ------------------do------------------------------- */
#do ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}
#do ul li{
	max-width:263px ;
	margin-bottom: 90px;
	background-repeat: no-repeat;
	background-position: center 0px;
	background-color: #ffffff;
}
#do ul li:nth-child(1){
	background-image: url(../images/cogs.png)
}
#do ul li:nth-child(2){
	background-image: url(../images/pen.png)
}
#do ul li:nth-child(3){
	background-image: url(../images/mobile.png)
}
#do ul li:nth-child(4){
	background-image: url(../images/clock.png)
}
#do ul li:nth-child(5){
	background-image: url(../images/cogs.png);
	padding-bottom: 105px;
}
#do ul li:nth-child(6){
	background-image: url(../images/pen.png);
	padding-bottom: 105px;
}
#do ul li:nth-child(7){
	background-image: url(../images/mobile.png);
	padding-bottom: 105px;
}
#do ul li:nth-child(8){
	background-image: url(../images/clock.png);
	padding-bottom: 105px;
}
#do ul li h4{
	font-family: "QuattrocentoSans-Bold", sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
	padding-top: 80px;
	color: #292f36;
}
#do ul li p{
	font-family: "OpenSans-Semibold", sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	color: #8d8f92;
	margin-top: 25px;
}

/* ------------------work------------------------------- */
#features{
	background-color: #3a454d;
}
#features .container h2{
	color: white;
}
#features .container >div{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#features .container div div{
	max-width: 360px;
}
#features .container div div img{
	max-width: 360px;
	max-height: 240px;	
}
#features .container div div h4{
	font-family: "QuattrocentoSans-Bold", sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: normal;
	text-align: left;;
	color: #ffffff;
	margin-top: 42px;	
}
#features .container div div p{
	font-family: "OpenSans", sans-serif;
	font-size: 16px;
	text-align: left;;
	color: #dcdfe1;
	margin-top: 15px;
	margin-bottom: 115px;
}
/* ---------------contact--------------------- */
#contact {
    /* background: url(../images/map.png);
    background-repeat: no-repeat;
	background-position: 0px 158px;
	background-size: cover; */
}
#contact h2{
	margin: 0px auto;
    max-width: 1140px;
}
#contact .container{
		position: relative;
}
#contact .container >div{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#contact .container >div >div{
	max-width: 555px;
	margin-top: 57px;
	margin-bottom: 90px;
}
#contact .container div div h4{
	font-family: "QuattrocentoSans-Bold", sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: normal;
	text-align: left;;
	color: #292f36;
	margin-left: 10px;
}
#contact .container div div p{
	font-family: "OpenSans", sans-serif;
	font-size: 16px;
	text-align: left;;
	color: #8d8f92;
	margin-top: 32px;
}
#contact .container div >form{
	width: 555px;
	background-color: #ffffff;
	position: absolute;
	right: 0px;
	top:-130px ;
}
#contact .container div >form >div >div >div >label{
	font-family: "QuattrocentoSans-Bold", sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
	color: #8d8f92;
}
#contact .container div >form >div >div >div > input{
	width: 240px;
	height: 45px;
	border-radius: 3px;
	border: none;
	background-color: #eaeef1;
	margin-top: 4px;
	text-align: center;
}
#contact .container div >form >div{ 
	padding-left: 30px;
}
#contact .container div >form >div> #fist-name{
	width: 248px;
	display: flex;
	justify-content: space-between;
}
#contact .container div >form >div >#fist-name:nth-child(1) input{
	margin-right: 15px;	
}
#contact .container div >form >div >div{
	margin-top: 25px;	
}
#contact .container div >form >div >div:last-child{
	margin-top: 30px;	
	margin-bottom: 100px;
}
#contact .container div >form >div >div:nth-child(2) label{
	font-family: "QuattrocentoSans-Bold", sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
	color: #8d8f92;	
}
#contact .container div >form >div >div:nth-child(2) textarea{
	width: 495px;
	margin-top: 4px;
	border-radius: 3px;
}
#contact .container div >form >div >div >button{
	width: 151px;
	font-family: "QuattrocentoSans-Bold", sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	height: 44px;
	line-height: 44px;
	font-weight: normal;
	color: #8d8f92;
	margin-top: 5px;	
}
/* -----------------footer--------------------------- */
footer{
	background-color: #3a454d;
	height: 95px;
	
}
footer .container{
	display: flex;
	justify-content: space-between;
}
footer .container p{
	font-family: "OpenSans", sans-serif;
	font-size: 14px;
	text-align: left;
	height: 95px;
	line-height: 95px;
	color: #ffffff;
}
footer .container>ul{
		
}
footer .container>ul>li{
	display: inline-block;
	margin: 40px 0px 40px 20px ;
}
footer .container>ul>li:first-child{
	margin-left: 0px;
}